@{
    ViewBag.Title = "Home Page";
}

<h1>Test HTML Helpers</h1>

@*@Html.Raw(Html.MySpecialTextBox())
    @Html.MySpecialTextBoxTwo()

    @Html.Raw(CustomHTMLHelpersStatic.MySpecialTextBox())
    @CustomHTMLHelpersStatic.MySpecialTextBoxTwo()*@

@*<div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>*@

@Html.BootstrapAlert(BootstrapAlertType.Success, "This is my first message")
@Html.BootstrapAlert(BootstrapAlertType.Danger, "This is my second message")
